{% extends 'base.html' %}

{% block content %}
<h2>Editar Peça</h2>

<div class="card p-4 shadow-sm">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-2">
            Nome: <input type="text" name="nome" value="{{ peca.nome }}" class="form-control" required>
        </div>
        <div class="mb-2">
            Cor: <input type="text" name="cor" value="{{ peca.cor }}" class="form-control" required>
        </div>
        <div class="mb-2">
            Marca: <input type="text" name="marca" value="{{ peca.marca }}" class="form-control" required>
        </div>
        <div class="mb-2">
            Tamanho: <input type="text" name="tamanho" value="{{ peca.tamanho }}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Alterações</button>
        <a href="{% url 'pecas_lista' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

{% endblock %}