{% extends 'base.html' %}

{% block content %}
<div class="card p-4 shadow-sm mb-3">
    <h2>{{ outfit.nome }}</h2>
    <h3>Peças no outfit:</h3>
    <ul class="list-group list-group-flush mb-3">
        {% for p in outfit.pecas.all %}
            <li class="list-group-item">{{ p.nome }} - {{ p.categoria }} - {{ p.estacao }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'lista_outfits' %}" class="btn btn-secondary">Voltar</a>
    <a href="{% url 'editar_outfit' id=outfit.id %}" class="btn btn-warning">Editar Outfit</a>
</div>

{% endblock %}